body {
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  margin: 8% auto 10px;
}

.logo {
  width: 220px;
  height: 220px;
}

.caption {
  font-size: 56px;
  font-weight: bolder;
  margin: 0;
}

.desc {
  margin: 0;
  font-size: 24px;
  font-weight: lighter;
  color: gray;
}

.socialButtons {
  margin-top: 10px;
}

.socialButtons > div i {
  font-size: 24px;
  color: gray;
}

.socialButtons > div:hover i {
  color: black;
}
